{% extends 'base.html.twig' %}

{% block body %}
    <div id="container-main">
        <div class="centralizer">
            <div class="main">
                <p class="breadcrumb"><a href="{{  path('home') }}">Accueil</a> > Assistance</p>
                <h1>Bonjour.
{#                    <?php if(isConnected()) echo " ".$a->getSurname() ?>#}
                     Comment pouvons-nous vous aider ?</h1><br />
                <div class="fulldiv">

                    <div class="fl w33">
                        <div class="fl w50">
                            <img src="{{ asset('img/ico-order.png') }}" alt="Commande" />
                        </div>
                        <div class="fl w50">
                            <p class="fwb first"><a href="<?php echo $urlAccount[$idLang] ?>#ord" class="">Vos commandes</a> ></p>
                            <ul class="fs08">
                                <li><a href="<?php echo $urlAccount[$idLang] ?>#ord" class="link2">Tout savoir sur votre commande</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="fl w30">
                        <div class="fl w50">
                            <img src="{{ asset('img/ico-smartphone.png') }}" alt="Application smartphone / tablette" />
                        </div>
                        <div class="fl w50">
                            <p class="fwb first"><a href="<?php echo $urlApp[$idLang] ?>" class="">Application</a> ></p>
                            <ul class="fs08">
                                <li><a href="<?php echo $urlApp[$idLang] ?>" class="link2">Tout savoir sur l'application Fox Driver</a></li>
                            </ul>
                        </div>
                    </div>


                </div>
                <div class='fulldiv'>
                    <br />
                    <br />
                    <h2>Questions fréquentes</h2>
                    <p>Retrouvez ci-dessous des réponses aux questions fréquemments posées par la communauté Fox Driver :</p>
                    <br />
                    <p>
                        <a href="{{  path('help_faq') }}#q1" class="link2">Avec quel type de smartphone ou tablette l'application Fox Driver est-elle compatible ? <span class="first">&rarr;</span></a><br /><br />
                        <a href="{{  path('help_faq') }}#q7" class="link2">Dans l'application, au moment de valider mon email, il ne se passe rien. Comment régler ce souci ?<span class="first">&rarr;</span></a><br /><br />
                        <!-- <a href="<?php echo $urlHelpFaq[$idLang] ?>#q2" class="link2">Je possède déjà un lecteur de carte conducteur, puis-je l'utiliser avec Fox Driver ? <span class="first">&rarr;</span></a><br /><br /> -->
                        <a href="{{  path('help_faq') }}#q3" class="link2">L'application fonctionne-t-elle sans Internet ? <span class="first">&rarr;</span></a><br /><br />
                        <a href="{{  path('help_faq') }}#q4" class="link2">Le téléchargement des informations vide-t-il la carte conducteur ? <span class="first">&rarr;</span></a><br /><br />
                        <a href="{{  path('help_faq') }}#q5" class="link2">Puis-je récupérer mes temps de conduite d'il y a plus d'un an ?<span class="first">&rarr;</span></a><br /> <br />
                        <a href="{{  path('help_faq') }}#q6" class="link2">Quelle est la valeur légale des informations téléchargées ? <span class="first">&rarr;</span></a><br />
                    </p>
                    <br />
                </div>
            </div>
        </div>
    </div>
    <div id="container-main" class=" bg-light">
        <div class="centralizer">
            <div class="main">
                <h2>Besoin de plus d'aide ?</h2>
                <p>Dialoguez gratuitement et en direct avec l'équipe Fox Driver :</p>
                <p class='tac'><a href="{{ path('help_chat') }}" class="button">Démarrer une conversation</a></p>
                <br />
                <p class='fs08 tac'>Du lundi au vrendredi de 9h00 à 12h30 et de 14h à 17h30</p><br />
            </div>
        </div>
    </div>
{% endblock %}
