<script>
  $(document).ready(function(){
    $(".pic").mouseover(function(){ $(this).animate({width:'180px'},'fast') });
    $(".pic").mouseout(function(){ $(this).animate({width:'160px'},'fast') });
  });
</script>
<style>
    .pic {width:160px}
</style>
<div id="container-main" class="bg-second" >
    <div class="centralizer">
        <div class="main">
            <br />
            <h2 class='tac'>Les routiers rusés Fox Driver témoignent</h2>
            <div class="fulldiv ">
                <div class="fl w20 rate" id="">
                    <p class="tac fs08">
                        <img src="{{ asset('img/rate/mccoy.png') }}" alt=" L'application permet de vérifié toutes mes heures et infractions en toutes simplicité avec mon portable le rendu qualité prix est juste parfait." class='pic'/><br />
                        <img src="{{ asset('img/starlight-1.png') }}" alt="" />
                        <img src="{{ asset('img/starlight-1.png') }}" alt="" />
                        <img src="{{ asset('img/starlight-1.png') }}" alt="" />
                        <img src="{{ asset('img/starlight-1.png') }}" alt="" />
                        <img src="{{ asset('img/starlight-0.png') }}" alt="" /><br />
                        " L'application Fox Driver permet de vérifier toutes mes heures et infractions en toutes simplicité avec mon portable le rendu qualité prix est juste parfait. "
                    </p>
                    <p class='tac fs08 first' >
                        Mc Coy (01, Ain)
                    </p>
                </div>
                <div class="fl w20 ml05p rate">
                    <p class="tac fs08">
                        <img src="{{ asset('img/rate/williamp.png') }}" alt="" class='pic'/><br />
                        <img src="{{ asset('img/starlight-1.png') }}" alt="" />
                        <img src="{{ asset('img/starlight-1.png') }}" alt="" />
                        <img src="{{ asset('img/starlight-1.png') }}" alt="" />
                        <img src="{{ asset('img/starlight-1.png') }}" alt="" />
                        <img src="{{ asset('img/starlight-0.png') }}" alt="" /><br />
                        " Super produit, l'application  Fox Driver  est très simple d'utilisation et complète. Le lecteur de carte est petit donc très facile de l'amener où tu veux. [...] <!--Le seul bémol est que ce produit est que sur Android et pas encore sur iOS.--> "
                    </p>
                    <p class='tac fs08 first' >
                        William (01, Ain)
                    </p>
                </div>
                <div class="fl w20 ml05p rate">
                    <p class="tac fs08">
                        <img src="{{ asset('img/rate/johndoe.png') }}" alt="" class='pic'/><br />
                        <img src="{{ asset('img/starlight-1.png') }}" alt="" />
                        <img src="{{ asset('img/starlight-1.png') }}" alt="" />
                        <img src="{{ asset('img/starlight-1.png') }}" alt="" />
                        <img src="{{ asset('img/starlight-1.png') }}" alt="" />
                        <img src="{{ asset('img/starlight-0.png') }}" alt="" /><br />
                        " Tr&egrave;s facile d&#039;utilisation et pratique  "
                    </p>
                    <p class='tac fs08 first' >
                        Aymen (10, Aube)
                    </p>
                </div>
                <div class="fl w20 ml05p rate">
                    <p class="tac fs08">
                        <img src="{{ asset('img/rate/gwen.png') }}" alt="" class='pic'/><br />
                        <img src="{{ asset('img/starlight-1.png') }}" alt="" />
                        <img src="{{ asset('img/starlight-1.png') }}" alt="" />
                        <img src="{{ asset('img/starlight-1.png') }}" alt="" />
                        <img src="{{ asset('img/starlight-1.png') }}" alt="" />
                        <img src="{{ asset('img/starlight-0.png') }}" alt="" /><br />
                        " Application tres simple d'utilisation,et très complète. Super produit et tres contente  "
                    </p>
                    <p class='tac fs08 first' >
                        Gwendo (21, Côte d'Or)
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
