<!DOCTYPE html>
<html>
<head>
    {% include ('top.html.twig') %}
</head>

<body>
{{ include('promo.html.twig') }}
{#<h1>{{ page_title }}</h1>#}
{#Hello {{ user }}!#}
{% block center %}{% endblock %}
{#{{ include('home.html.twig') }}#}
{{ include('rate.html.twig') }}
<div id="container-main" class="" >
    <div class="centralizer">
        <div class="main">
            <br /><br />
            <div class="fulldiv">
                <div class="square2">
                    <a href="<?php echo $urlAbout[$idLang] ?>">
                        <img src="{{ asset('img/ico-mobile.png') }}" alt="Fox Driver est mobile" /><br />
                        Mobilité
                    </a>
                </div>
                <div class="square1">
                    <a href="<?php echo $urlAbout[$idLang] ?>">
                        <img src="{{ asset('img/ico-bulletin-paye.png') }}" alt="Fox Driver vous aide à controler votre fiche de paye" /><br />
                        Contrôle
                    </a>
                </div>
                <div class="square2">
                    <a href="<?php echo $urlAbout[$idLang] ?>">
                        <img src="{{ asset('img/ico-save.png') }}" alt="Fox Driver est sécurisant" /><br />
                        Sauvegarde
                    </a>
                </div>
                <div class="square1">
                    <a href="<?php echo $urlAbout[$idLang] ?>">
                        <img src="{{ asset('img/ico-lecteur.png') }}" alt="Fox Driver est simple" /><br />
                        Simplicité
                    </a>
                </div>
                <div class="square2">
                    <a href="<?php echo $urlAbout[$idLang] ?>">
                        <img src="{{ asset('img/ico-indetectable.png') }}" alt="Fox Driver ne laisse aucune trace" /><br />
                        Discrétion
                    </a>
                </div>
                <div class='fulldiv'><br /><br /></div>
            </div>
            <div class="fulldiv">
{#                <?php#}
{#           /*#}
{#            function facebook_count($url){#}

{#                // Query in FQL#}
{#                $fql  = "SELECT share_count, like_count, comment_count ";#}
{#                $fql .= " FROM link_stat WHERE url = '$url'";#}

{#                $fqlURL = "https://api.facebook.com/method/fql.query?format=json&query=" . urlencode($fql);#}

{#                // Facebook Response is in JSON#}
{#                $response = file_get_contents($fqlURL);#}
{#                return json_decode($response);#}

{#            }#}

{#            $fb = facebook_count('https://www.facebook.com/Les-Routiers-rus%C3%A9s-FoxDriver-391297777715176/');#}

{#            // facebook share count#}
{#            echo $fb[0]->share_count;#}

{#                // facebook like count#}
{#                echo $fb[0]->like_count;#}

{#                // facebook comment count#}
{#                echo $fb[0]->comment_count;#}
{#                */#}
{#                ?>#}
            </div>
        </div>
    </div>
</div>

{% include 'footer.html.twig' %}



<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

<!-- Your customer chat code -->
<div class="fb-customerchat"
     attribution="setup_tool"
     page_id="391297777715176"
     theme_color="#0084ff"
     logged_in_greeting="Bonjour, en quoi pouvons-nous vous aider ?"
     logged_out_greeting="Bonjour, en quoi pouvons-nous vous aider ?">
</div>

</body>
</html>
