
<header>
    <div class="container-header">
        <div class="centralizer">
            <div id="container-logo">
                <div id="logo">

                    <div class="fl hide_mobile">
                        <a href="{{ path('home')}}" ><img src="{{ asset('img/logo-foxdrive-lecture-carte-conducteur.png') }}" alt="<?php echo $meta_title; ?>" title="<?php echo $meta_title; ?>" class='fl' /></a>
                    </div>
                    <div class="fl ml5 mt05 hide_mobile">




                    </div>
                    <div class="fr hide_mobile">
                        <p class="fs08 tar">

{#                            <?php /* <div  class="fb-like"   data-share="true" data-width="450" data-show-faces="true"></div>*/ ?>#}
                    <br />

                    <nav style="text-align: center">
                        <ul id="menu">
                            <li class="hide_mobile"><a href="{{ path('home') }}" ><img src="{{ asset('img/ico-home.png') }}" alt="Accueil FoxDriver" style="height:20px; vertical-align:top" /></a></li>
                            <li><a href="{{ path('admin_users_index') }}" >Clients</a></li>
                            <li><a href="<?php echo $urlAdminOrders ?>" >Commandes</a>
                                <a href='{{ path('app_logout') }}'>  <img src="{{ asset('img/ico-logout.png') }}" alt="x" title="Se déconnecter de mon compte" /></a><?php } ?>
                            </li>

                        </ul>


                </div>

            </div>
        </div>
    </div>
    </div>


</header>

