{% extends 'base.html.twig' %}

{% block title %}Address index{% endblock %}

{% block body %}
<div id="container-main">
    <div class="centralizer">
        <div class="main">
            <p class="breadcrumb"><a href="{{ path('home') }}">Accueil</a> > <a href="{{ path('home_account') }}">Votre compte</a> > Vos adresses</p>
            <p>
                <a href="{{ path('app_address_new') }}">Ajouter une adresse</a>
            </p>
            <h1>Mes adresses</h1><br />

                {% for address in addresses %}
                <div class="fl ml10p w30">
                    <p>
                        <strong>{{ address.user.surname }}(<span class='first'>Facturation</span>)</strong>
                    </p>
                    <p class="fs08">
                        {{ address.company is not null ? address.company : '' }}
                        {{ address.street }}<br />
                        {{ address.zip }} {{ address.city }}, {{ address.country }}<br />
                        Tél.  {{ address.phoneNumber is not null ? address.phoneNumber : '' }}<br /><br />
                        <a href="{{ path('app_address_edit', {'id': address.id}) }}" class="button db tac">Modifier</a><br />
                        <a href="{{ path('app_address_delete', {'id': address.id}) }}" class="button2 db tac">Supprimer</a>
                    </p>
                    <br /> <br />
                </div>
                {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
